{% extends "base.html.twig" %}

{% block content %}
    {% if is_granted("ROLE_USER") %}
        Hi {{ app.user.name }},
        you're logged in. Wanna to logout?
        --> <a href="{{ path('logout') }}">{% trans %}Logout{% endtrans %}</a>
    {% endif %}

    {% if  not is_granted("ROLE_USER") %}
        <div class="alert alert-primary" role="alert">
            <i class="fas fa-sign-in-alt"></i> {% trans %}Hey, please login to use some special features{% endtrans %}
        </div>
        <form action="{{ path('login') }}" method="post">
            <div class="form-group">
                <label for="username">{% trans %}Username{% endtrans %}</label>
                <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}"/>
            </div>

            <div class="form-group">
                <label for="_assword">{% trans %}Password{% endtrans %}</label>
                <input type="password" id="password" class="form-control" name="_password"/>
            </div>

            <button action="{{ path('login') }}" method="post"
                    class="btn btn-primary">{% trans %}Login{% endtrans %}</button>
        </form>
    {% endif %}




{% endblock %}