{% extends "base.html.twig" %}

{% block content %}
    {% if is_granted("ROLE_USER") %}
        Hi {{ app.user.name }},
        you're logged in. Wanna to logout?
        --> <a href="{{ path('logout') }}">{% trans %}Logout{% endtrans %}</a>
    {% endif %}

    {% if  not is_granted("ROLE_USER") %}
        {% trans %}Hey, please login to use some special features{% endtrans %}
        <form action="{{ path('login') }}" method="post">
            <label for="username">{% trans %}Username{% endtrans %}</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />

            <label for="password">{% trans %}Password{% endtrans %}</label>
            <input type="password" id="password" name="_password" />

            <button action="{{ path('login') }}" method="post">{% trans %}Login{% endtrans %}</button>
        </form>
    {% endif %}




{% endblock %}