
{% extends "base.html.twig" %}

{% block content %}



    {% if not is_granted("ROLE_USER") %}
        {% trans %}Hi there, {% endtrans %} <a href="/public/index.php/login"> {% trans %}Login{% endtrans %}</a>
    {% endif %}
    <div class="card text-white bg-primary">
        <div class="card-body" id="overview">
            <div class="alert alert-dismissible alert-success col-3" style="text-align: center; margin: auto; ">
                <table>
                    <tr>
                        <td>{% trans %}Username{% endtrans %}</td>
                        <td>{% trans %}Days trained{% endtrans %}</td>
                        <td>{% trans %}Entire distance{% endtrans %}</td>
                    </tr>
                {% for user in users %}
                    <tr>
                        <td><a href="/public/index.php/profile/{{ user.name }}">{{ user.name }}</a></td>
                        <td>{{ user.days_trained }}</td>
                        <td>{{ user.entire_distance }}</td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>
    </div>

    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}


    <script>
        $(function(){
            $("#name").autocomplete({
                source: "search/",
                minLength: 3
            });
        } );
    </script>

{% endblock %}