{% extends "base.html.twig" %}

{% block content %}

    {% set can_edit = is_granted('edit', user) %}

    {% if not is_granted("ROLE_USER") %}
        {% trans %}Hi there, {% endtrans %} <a href="/public/index.php/login"> {% trans %}Login{% endtrans %}</a>
    {% endif %}

    <div class="card text-white bg-primary">
        <div class="card-body" id="overview">
            <div class="alert alert-dismissible alert-success col-6" style="text-align: center; margin: auto; ">


                {% trans %}Username {% endtrans %} -> {{ user.name }}<br>

                <!--Summarized information -->
                {%  if user.entries|length > 0%}
                    {% trans %}Days trained {% endtrans %} -> {{ user.days_trained }}<br>
                    {% if is_granted("ROLE_USER") %}
                        {% trans %}Time from first entry to today {% endtrans %}-> {{ user.entire_time }}<br>
                    {% endif %}
                    {% trans %}Entire distance{% endtrans %} -> {{ user.entire_distance }}<br>

                    <h2>{% trans %}All entries{% endtrans %}</h2>

                    <!-- Table with entries-->
                    <table class="table-info table table-striped">
                        <tr>
                            <td>{% trans %}Date{% endtrans %}</td>
                            <td>{% trans %}Distance in km{% endtrans %}</td>
                            {% if is_granted("ROLE_USER") %}
                                <td>{% trans %}Time in h{% endtrans %}</td>
                                <td>{% trans %}Avg. speed in km/h{% endtrans %}</td>
                            {% endif %}
                            {% if can_edit %}<td>{% trans %}Delete{% endtrans %}</td>{% endif %}
                        </tr>
                        {% for entry in user.entries %}
                            <tr>
                                <td>{{ entry.date |date('Y-m-d')}}</td>
                                <td>{{ entry.distance }}</td>
                                {% if is_granted("ROLE_USER") %}
                                    <td>{{ entry.time|round(2, 'floor') }}</td>
                                    <td>{{ entry.getAvgSpeed() }}</td>
                                {% endif %}
                                {% if can_edit %}<td><a href="/public/index.php/delete/{{ entry.id}}/{{ user.id }}" class="delete-button btn btn-block btn-info">{% trans %}Delete{% endtrans %}</a></td>{% endif %}
                            </tr>
                        {% endfor %}
                    </table>

                {% else %}
                    {% trans %}No entries so far{% endtrans %}
                {% endif %}
            </div>
        </div>
    </div>

    {% if can_edit %}
        <!-- Error log -->
        {% if errors|length > 0 %}
            {% for error in errors %}
                {{ error }}<br>
            {% endfor %}
        {% endif %}

        <!--Form for new entry -->
        {% form_theme form 'bootstrap_3_layout.html.twig' %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    {% endif %}

{% endblock %}