{% extends "base.html.twig" %}

{% block content %}

    {% if not is_granted("ROLE_USER") %}
        Hi there --> <a href="/public/login"> login</a>
    {% endif %}
    <div class="card text-white bg-primary">
        <div class="card-body" id="overview">
            <div class="alert alert-dismissible alert-success col-3" style="text-align: center; margin: auto; ">
                Name -> {{ user.name }}
                Days_trained -> {{ user.days_trained }}
                Time from first entry to today -> {{ user.entire_time }}
                Entire distance -> {{ user.entire_distance }}
                All entries:
                <table>
                    <tr>
                        <td>Date</td>
                        <td>Distance</td>
                        <td>Time</td>
                        <td>Avg. speed</td>
                        <td>Delete</td>
                    </tr>
                    {% for entry in user.entries %}
                        <tr>
                            <td>{{ entry.date }}</td>
                            <td>{{ entry.distance }}</td>
                            <td>{{ entry.time }}</td>
                            <td>{{ entry.speed }}</td>
                            <td><a href="delete/{{ entry.date}}/{{ user.name }}" class="delete-button btn btn-block btn-info">Delete</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock %}