{% extends "base.html.twig" %}

{% block content %}

    {% set can_edit = is_granted('edit', user) %}
    {% if not is_granted("ROLE_USER") %}
        Hi there --> <a href="/public/index.php/login"> login</a>
    {% endif %}
    <div class="card text-white bg-primary">
        <div class="card-body" id="overview">
            <div class="alert alert-dismissible alert-success col-6" style="text-align: center; margin: auto; ">
                Name -> {{ user.name }}<br>
                {%  if user.entries|length > 0%}
                        Days_trained -> {{ user.days_trained }}<br>
                    {% if is_granted("ROLE_USER") %}
                        Time from first entry to today -> {{ user.entire_time }}<br>
                    {% endif %}
                        Entire distance -> {{ user.entire_distance }}<br>
                    <h2>All entries</h2>
                    <table class="table-info table table-striped">
                        <tr>
                            <td>Date</td>
                            <td>Distance in km</td>
                            {% if is_granted("ROLE_USER") %}
                                <td>Time in h</td>
                                <td>Avg. speed in km/h</td>
                            {% endif %}
                            {% if can_edit %}<td>Delete</td>{% endif %}
                        </tr>
                        {% for entry in user.entries %}
                            <tr>
                                <td>{{ entry.date |date('Y-m-d')}}</td>
                                <td>{{ entry.distance }}</td>
                                {% if is_granted("ROLE_USER") %}
                                    <td>{{ entry.time|round(2, 'floor') }}</td>
                                    <td>{{ entry.getAvgSpeed() }}</td>
                                {% endif %}
                                {% if can_edit %}<td><a href="/public/index.php/delete/{{ entry.id}}/{{ user.id }}" class="delete-button btn btn-block btn-info">Delete</a></td>{% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    No entries so far
                {% endif %}
            </div>
        </div>
    </div>
    {% if can_edit %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                {{ error }}<br>
            {% endfor %}
        {% endif %}
        {% form_theme form 'bootstrap_3_layout.html.twig' %}
        {# templates/default/new.html.twig #}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    {% endif %}

{% endblock %}